<body id="page-top">

  <!-- Navigation -->
  <%= render 'navbar' %>
  <%= render 'header' %>
  <%= render 'services' %>
  <%= render 'about' %>
  <%= render 'team' %>
  
  <%= render 'contact' %>
  


  <%= render 'footer' %>


</body>